.Wrapper {
    display: flex;
    justify-content: space-between;
}

.Condition {
    display: flex;
    align-items: flex-start;
}

.Details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Temp {
    font-size: 2rem;
    text-transform: uppercase;
}
